src/main/mule/jenkins-pipeline-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0b4ea31-3e8d-4761-b17b-3edc02b43313" >
		<http:listener-connection host="0.0.0.0" port="8778" />
	</http:listener-config>
	<flow name="jenkins-pipeline-demoFlow" doc:id="0749f5a5-56f6-4413-8bee-4ee14bdcb66f" >
		<http:listener doc:name="Listener" doc:id="8d1b0e63-ff7c-44db-b368-cad07d8d8c50" config-ref="HTTP_Listener_config" path="/pipeline"/>
		<ee:transform doc:name="Transform Message" doc:id="a8bb86d3-e88e-4477-a0ff-96192539dc50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Response": "CI CD flow executed successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="760f4de3-db15-462e-8f5c-7eb0ad395340" message='#["Pipeline ended successfully"]'/>
	</flow>
</mule>
